body{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: #D71820;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.favicon{
    width: 3em;
    padding: 0.5em;
    padding-left: 15em;
}
.header nav{
    padding-right: 15em;
}
.header nav a{
    text-decoration: none;
    color: #FFF;
    padding-left: 0.8em;
    font-size: 1.2em;
}
.header nav a:hover{
    color: #000;
}
.body{
    height: 50em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: #FFF;
    height: 100%;
    width: 40em;
    
}
.main p {
    padding-right: 2em;
    font-size: 20px;
}
.main h1 {
    text-align: center;
}
.estadio{
    height: 100%;
    width: 30em;
    background-color: black;
    
}
.estadio img{
    width: 26em;
    margin: 2em 2em 0 2em;
    border-radius: 2%;
}
.estadio h1{
    margin: 0;
    padding: 0.5em 1em 0 1em;
    color:#FFF;
}
.estadio p{
    margin: 0;
    padding: 1em 2em 0 2em;
    color:#FFF;
}